# WordPress
.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Editor and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
*.sublime-project
*.sublime-workspace
Thumbs.db

# Build files (if any)
dist/
build/

# Temporary files
*.tmp
*.temp
/tmp/

# Languages (compiled)
*.mo
